/*
 * Custom styled bordered container
 * Has some cool variants
 *
 * the bordered-box-simple will not inherit any child element customizations, just the bordered box (obviously)
 */

 /* 
  * good margins
  *
  */

/* margins only on mobile, otherwise governed by section */
@media only screen and (max-width: 768px) {
	section .bordered-box:not(:last-child), section .bordered-box-simple:not(:last-child) {
		margin-bottom: 40px;
	}
}

/* take up less screen space on mobile */
@media only screen and (max-width: 1024px) {
	.bordered-box, .bordered-box-simple {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*
 * Inner elements
 * Spacing and prettifying
 */
 .bordered-box .col-inner > *, .bordered-box-simple .col-inner > * {
	 margin-bottom: 1rem;
 }

/* Add border and shadow to elements if we want */
 .bordered-box .col-inner, .bordered-box-simple .col-inner {
	padding: 4px;
	border-radius: 4px;
	border: #d9d9d9 1px solid;
	box-shadow: 4px 4px 8px rgba(148, 149, 152, 0.35);
}

/* Correct text placement for bordered boxes */
.bordered-box .col-inner p, .bordered-box .col-inner ul, .bordered-box .col-inner h4, 
.bordered-box-simple .col-inner p, .bordered-box-simple .col-inner ul, .bordered-box-simple .col-inner h4 {
	margin-left: 4px;
	margin-right: 4px;
}
 /* Bordered box dark fill customizations */
.bordered-box-fill-dark .col-inner {
    background-color: #2f2f2f;
}

/* Bordered box fill light customizations */
.bordered-box-fill-light .col-inner {
	background-color: #f0f0f0;
}