/*
 * Interactive sidebar
 */

 .sidebar-button-wrapper {
    position: absolute;
    right: 0;
    z-index: 5;
    top: 4rem;
}

.edge-sidebar-right {
    z-index: 10;
    position: absolute;
    right: -7rem;
    background-color: white;
    min-width: 40%;
}